.searchPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: cornsilk;
  text-align: center;
  border-radius: 1.5rem;
  width: 80%;
  padding: 10px;
  box-shadow: 0 0 20px 5px rgb(46, 49, 50);
}
.results {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.resultsCard {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid rgb(46, 49, 50);
  display: flex;
  text-decoration: none;
}
.imgDiv {
  width: 25%;
  margin: 1rem;
  /* border: 1px solid rgb(46, 49, 50); */
}
.resultImg {
  width: 100%;
  margin: auto;
  border: 1px solid rgb(46, 49, 50);
}
.searchBar {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  width: 40%;
  background: #f1f1f1;
}

.search-btn {
  padding: 11px;
  color: black;
  font-size: 17px;
  cursor: pointer;
}

.card {
  margin: 1rem;
  max-width: 18rem;
}
