@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color:#b1d3c8;
  font-family: Fraunces;
}
main {
  text-align: center;
}
.userCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: cornsilk;
  text-align: center;
  border-radius: 1.5rem;
  width: 80%;
  padding: 10px;
  box-shadow: 0 0 20px 5px rgb(46, 49, 50);
}
